{% extends 'aplicacion/base.html' %}

{% load static %}

{% block contenido %}

<div id="map"></div>

<style>

  #map{
    height: 80%;
  }
  html,
  body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<script>

  const mapdiv = document.getElementById("map");
  let map
  function initMap() {
  map = new google.maps.Map(mapdiv,{
  center: {lat:-36.794690001413656 ,lng: -73.06115866931232},
  zoom : 10

});
}

</script>

<script async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyhaBGBZV2N7tBM2_FJHDhB3D5qIBTwA8&callback=initMap">
</script>


{% endblock %}