{% extends 'aplicacion/base.html' %}

{% load static %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'aplicacion/css/productos.css'%}">

   <div class="container">
      <div class="row">
          <div class="col-12 align-self-center"><h1 class="display-1">TIENDA</h1></div>
      </div>

      <div class="row">

          <div class="col-sm-6">
              <div class="row" style="padding: 15px;">
                  <div class="col-12">
                      <div class="row">
                          {% for producto in productos %}
                          <div class="col-6">
                              <div class="card" style="height: 10rem; width: 22rem; margin: 50px 0px;">

                                  <div class="card-prod">                     {% comment %} card-prod {% endcomment %}
                                      <img src= "{{producto.imagen.url}}" style="height: 8em ; width:6em">
                                      <h5 class="card-title">{{producto.nombre}}</h5>
                                      <p class="card-text">{{producto.categoria}}</p>
                                      <p class="card-text">{{producto.precio}}</p>
                                      <a href="http://127.0.0.1:8000/agregar/{{ producto.id_producto }}" class="btn btn-primary">Agregar al carrito</a>
                                  </div>

                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>



{% endblock %}
